

* {
    font-family: 'EB Garamond', serif;
}

body {
    height: 100%;
    background-color: teal;
    background: no-repeat top center url("../img/girlwithbook.jpg");
    background-size: cover;
    background-position: center center;
}

#headline {
    font-family: 'Mr Bedfort', cursive;
}

#tagline {
    font-family: 'Special Elite', cursive;
}

.textshadow {
    text-shadow: 2px 3px black;
  }

#features {
    background-color: rgba(0,0,0, 0.75);
}

#mce-EMAIL {
    width: 250px;
}
