* {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    height: 100%;
    background-color: teal;
    background: no-repeat top center url("../img/pexels-luriko-yamaguchi-2761017.jpg");
    background-size: cover;
}

#headline {
    color: white;
}

.textshadow {
    text-shadow: 2px 2px black;
  }

#features {
    background-color: rgba(0,0,0, 0.75);
}

